article {
    border: 1px dashed red;
	padding: 5px;
	margin: 2px auto;
}
article:before {
    content: "<article>";
    color: red;
}
article:after {
    content: "</article>";
    color: red;
}

section {
    border: 1px dashed blue;
	padding: 5px;
	margin: 2px auto;
}
section:before {
    content: "<section>";
    color: blue;
}
section:after {
    content: "</section>";
    color: blue;
}

div {
    border: 1px dashed green;
	padding: 5px;
	margin: 2px auto;
}
div:before {
    content: "<div>";
    color: green;
}
div:after {
    content: "</div>";
    color: green;
}